body{
  font-family: big-caslon-fb, serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.header{
  text-align: center;
  top: 30px;
  left: 50%;
}

#IllumiLogo{
  position:relative;
  top: 10vh;
  right: 14vw;
}

#MasonsLogo{
  position: relative;
  bottom: 7vh;
  left: 14vw;
}

.x{
  background: black;
      height: 100px;
      position: relative;
      bottom: 15vh;
      left: 35vw;
      width: 15px;
      transform: rotate(40deg);
}

.x:after {
     background: black;
     content: "";
     height: 15px;
     left: -40px;
     position: absolute;
     top: 40px;
     width: 100px;
     transform: rotate(10deg);
   }


.promo{
text-align: center;
}

#mainpromo{
  bottom: 10vh;
  position: relative;
}
.links{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 20px;

font-family: futura-pt, sans-serif;

font-weight: 600;

font-style: normal;
    text-transform: uppercase;
    font-weight: bold;


}

.links li{
    display:inline;
    padding: 10px 10px 10px 10px;
}
a{
  text-decoration:none;
  color: black;
}
a:hover {
    color: #415f2d;
    text-decoration: underline;
}

a:visited{
  text-decoration: none;
}

span{
  text-transform: uppercase;

}
h4{
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
}
.background{
  background-color: #415f2d;
  width: 100vw;
  height: 37vh;

}


.line{
  position: absolute;
  top: 202vh;
  background-color: white;
  width:100vw;
  height: 2px;
}

#line2{
  top: 203vh;
}
.footer{
  position: absolute;
  top: 190.2vh;
  left: 60vw;
}
